black==21.12b0
click==8.0.2
factory_boy==3.3.3
Faker==37.3.0
flake8==4.0.1
flake8-bugbear==22.1.11
flake8-pie==0.15.0
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Testing==0.8.1
mypy==0.931
mypy-extensions==1.0.0
pytest==7.0.1
SQLAlchemy==2.0.38
isort==5.9.3
